<div class="create-cont">
   
    <div class="create-top"> 
        <a href="/dashboard">Back</a>
        <h4>Create New Posts </h4>
    </div>
    <div class="create-form-container">
        <div class="create-form">
        
            <form action="/CreatePost" method="POST" class="Log-Form mt-2">
                
                <label for="body">Title</label>
                <input type="text" placeholder="Blog Title" name="title">

    
                <label for="body">Body</label>
               <textarea name="body" id="" cols="50" rows="10"></textarea>
    
                <button type="submit" value="Add" class="btn btn-dark"> Create </button>
            </form>
        </div>
    </div>
</div>