<div class="post-cont">
        <div class="post-details">
            <div class="post-img-cont">
                <img src="" alt="alt-img">
            </div>
            
            <article class="article">
         <h3><%= data.title %></h3>
         <p>Posted By: <%= data.postedby %></p>
         <b><%= data.body %></b>
            </article>
        </div>
</div>