<div class="post-cont">
        <div class="post-details">
            <div class="post-img-cont">
               </div>
            
            <article class="article">
                
         <h3><%= data.title %></h3>
         <p>Posted By: <%= data.postedby %></p>
         <p><%- data.body %></p>
            </article>
        </div>
</div>