<div class="display-search">
<h2>Search Results </h2>
</div>
<section class="blogcont">
    <div class="containInfo">
        <div class="card" >
            <a href="/post/<%= data._id %>">
              
            <div class="card-body">
              <h5 class="card-title"><%= data.title  %></h5>
              <p class="card-text"></p>
              <p><%= data.timePost  %></p>
            </div>
        </a>
          </div>
    </div>
</section>